// Place all the styles related to the layouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  width: 600px;
  margin: 0 auto;
  border-color: #000000;
  border-width: 3px;
  border-style: solid;
}

// all h1 inside main
#main > h1 {
  text-align: center;
}